<%= form_with(model: playlist, local: true) do |f| %>

<div class="field">
  <%= f.label :name%>
  <%= f.text_field :name%>
</div>
<div class="field">
  <%= f.label :number_votes%>
  <%= f.text_field :number_votes%>
</div>
<div class="actions">
  <%= f.submit%>
</div>
<% end %>
