<h1>Listas de reproduccion</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th># Votos</th>
    </tr>
  </thead>
  <tbody>
    <% @playlists.each do |playlist| %>
    <tr>
      <td><%= playlist.name %></td>
      <td><%= playlist.number_votes %></td>
    </tr>
    <% end %>
  </tbody>
</table>
